.page-bar {
    background-color: #f7f7f7;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 25px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.page-bar::before, .page-bar::after {
    content: " ";
    display: table;
}
.page-bar::after {
    clear: both;
}
.page-bar .page-breadcrumb {
    display: inline-block;
    float: left;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}
.page-bar .page-breadcrumb > li {
    display: inline-block;
}
.ie8 .page-bar .page-breadcrumb > li {
    margin-right: 1px;
}
.page-bar .page-breadcrumb > li > a, .page-bar .page-breadcrumb > li > span {
    color: #888;
    font-size: 14px;
    text-shadow: none;
}
.page-bar .page-breadcrumb > li > i {
    color: #aaa;
    font-size: 14px;
    text-shadow: none;
}
.page-bar .page-breadcrumb > li > i[class^="icon-"], .page-bar .page-breadcrumb > li > i[class*="icon-"] {
    color: gray;
}
.page-bar .page-toolbar {
    display: inline-block;
    float: right;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.page-bar .page-toolbar .btn-fit-height {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    padding-bottom: 8px;
    padding-top: 8px;
}
/*box wrapper color*/
.my_box{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: #459EBC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #459EBC;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #459EBC;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
}
.portlet.box.my_box > .portlet-title{
    background-color: #459EBC;
}
/*theme change*/
.page-header.navbar .page-logo{
    width: auto;
}
.page-header.navbar{
    background-color:#474f72!important;
}
.page-header{
    -webkit-box-shadow: 0px 2px 3px 0px rgba(107,119,143,1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(107,119,143,1);
    box-shadow: 0px 2px 3px 0px rgba(107,119,143,1)!important;
}

/* page loader */

#loader{
    width: 100%;
    height: 100%;
    background: #9adad6;
    position: fixed;
    top: 1px;
    opacity: .55;
    display: none;
}
#loader img {
    position: fixed;
    top: 314px;
    left: 737px;
    z-index: 9999;
}

.portlet > .portlet-title > .tools > a{
    height: 28px!important;
}


/*design for website */
.website .page-header.navbar{
    background-color: #DB2A27 !important;
}
.website .page-header{
    -webkit-box-shadow: 0px 2px 3px 0px rgb(178, 178, 174);
    -moz-box-shadow: 0px 2px 3px 0px rgb(178, 178, 174);
    box-shadow: 0px 2px 3px 0px rgb(178, 178, 174)!important;
}
.website{
    background-color: #fff!important;
}
.page-logo a:hover{
    text-decoration: none;
}